body {
  margin: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  color: #ffffff;
  min-width: 1200px;
}

.redefinition {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  color: #000000;
  padding-top: 20px;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header a {
  color: #ffffff;
}

.header h1 {
  width: 197px;
  color: #ee3643;
  font-size: 16px;
  font-style: italic;
  line-height: 1.44;
  font-weight: normal;
  margin: 0;
  margin-top: 5px;
}

.header .number {
  position: relative;
  font-size: 21px;
  color: #ee3643;
  border: 2px solid #ffffff;
  padding: 11px 0 6px 72px;
  margin-bottom: 8px;
}

.header .address {
  font-size: 14px;
  color: #32425c;
  text-align: center;
}

.output a {
  display: block;
  font-size: 21px;
  color: black;
  background-color: #ffffff;
}

.output a:focus,
.output a:hover {
  color: #ee3643;
}

.output a:active {
  color: rgba(0, 0, 0, 0.3);
}

.advantages h3,
.buy h3 {
  font-size: 24px;
  font-weight: bold;
}

.popular-goods > a,
.contacts a,
.about-us a,
.popular-manufacturers > a,
.advantages a,
.buy a {
  font-size: 14px;
  color: #ffffff;
}

.popular-goods > a:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 3px;
  right: 24px;
  top: 24px;
  background-color: #ee3643;
  position: absolute;
  width: 253px;
  height: 38px;
}

.popular-goods {
  position: relative;
}

.catalog-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  width: 220px;
  height: 318px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-bottom: 20px;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: bold;
  text-align: center;
  border: solid 1px #e5e5e5;
}

.drill-name {
  display: block;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 1.11;
  color: black;
}

.catalog-item:not(:last-child) p:nth-last-child(2) {
  color: #a9a9a9;
}

.popular-manufacturers h2,
.popular-goods h2 {
  font-size: 30px;
  color: #32425c;
  background-color: #f9f5f0;
  font-weight: normal;
  padding: 27px 0 20px 28px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.checkout a {
  background-color: #63a63e;
}

.contacts h2,
.about-us h2,
.services h2 {
  font-size: 30px;
  color: black;
  font-weight: normal;
}

.contacts p,
.about-us p,
.services p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 1.85;
  color: black;
}

.services h3 {
  font-size: 36px;
  color: #32425c;
  font-weight: normal;
  margin-top: 51px;
  margin-bottom: 22px;
}

.services button {
  width: 240px;
  min-height: 62px;
  font-size: 21px;
  font-weight: bold;
  color: #ffffff;
  background-color: #32425c;
  text-align: left;
}

.services button:focus,
.services button:hover {
  background-color: #293449;
}

.background1 {
  background-image: url(../img/slider-2.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  z-index: 1;
}

.background2 {
  background-image: url(../img/slider-1.jpg);
  background-repeat: no-repeat;
  background-position: top center;
}

.services button:active {
  color: #32425c;
  background-color: #ffffff;
}

.about-us li {
  font-size: 18px;
  color: black;
}

.footer-nav1 a {
  font-size: 18px;
  color: #f1f5f7;
}

.footer address {
  font-size: 18px;
  color: #f3f7f9;
  line-height: 1.33;
  font-style: normal;
  width: 325px;
  margin-top: -1px;
  margin-left: 3px;
}

.footer-nav2 a {
  font-size: 18px;
  color: #ffda96;
}

.footer p:first-of-type {
  font-size: 16px;
  line-height: 1.13;
}

.htmlacademy,
.mail {
  font-size: 16px;
  line-height: 1.13;
}

.htmlacademy a,
.mail a {
  color: #ffd180;
}

.items {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.btn {
  font: inherit;
  text-align: center;
  border: none;
}

.center {
  text-align: center;
}

.header-top {
  background-color: #293449;
  min-height: 42px;
}

.header-top input[type="search"] {
  width: 270px;
  height: 42px;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 14px;
  padding-left: 49px;
  padding-bottom: 12px;
  background-color: transparent;
  border: none;
  background: url(../img/icon-search.svg) 16px 12px no-repeat;
}

.header-buttom {
  background-color: #f4f7f9;
  padding: 45px 0 60px 0;
}

.nav {
  background-color: #32425c;
  min-height: 60px;
}

.buy-advantages {
  background-color: #ffffff;
}

.buy li:nth-of-type(1) {
  background-color: #ffbf47;
}

.buy li:nth-of-type(2) {
  background-color: #3bbce3;
}

.buy li:nth-of-type(3) {
  background-color: #dc91d8;
}

.buy li:nth-of-type(4) {
  background-color: burlywood;
}

.advantages li:nth-of-type(1) {
  background-color: #8ed78f;
}

.advantages li:nth-of-type(2) {
  background-color: #ffc047;
}

.buy a:not(.open-catalog) {
  background-color: rgba(0, 0, 0, 0.1);
}

.buy-advantages a:not(.open-catalog):focus,
.buy-advantages a:not(.open-catalog):hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.buy-advantages a:not(.open-catalog):active {
  background-color: rgba(0, 0, 0, 0.3);
}

.open-catalog,
.logo,
.bout-us-contacts a,
.popular-manufacturers > a,
.catalog-item-price {
  background-color: #ee3643;
}

.services {
  position: relative;
  background-color: #f4f7f9;
  padding: 62px 0 99px 0;
}

.about-us-contacts {
  background-color: #ffffff;
}

.footer-top {
  background-color: #32425c;
  padding-bottom: 50px;
}

.footer-buttom {
  background-color: #293449;
  padding: 37px 0 35px 0;
}

.footer-buttom p {
  margin-top: 0;
  margin-bottom: 0;
}

.open-catalog:focus,
.open-catalog:hover,
.header .logo:focus,
.header .logo:hover {
  background-color: #ca2c37;
}

.open-catalog:active,
.header .logo:active {
  background-color: #ba2732;
}

.checkout a:focus,
.checkout a:hover {
  background-color: #5fbb2d;
}

.checkout a:active {
  background-color: #518534;
}

.search input:hover {
  background: url(../img/icon-search-hover.svg) 16px 12px no-repeat;
  background-color: #212a3a;
}

.bookmarks a:focus,
.bookmarks a:hover {
  background-color: #212a3a;
}

.bookmarks a:active {
  background-color: #161d29;
}

.basket a:focus,
.basket a:hover {
  background-color: #212a3a;
}

.basket a:active {
  background-color: #161d29;
}

.nav a:focus,
.nav a:hover {
  background-color: #293449;
}

.nav a:active {
  background-color: #1d2739;
  color: rgba(255, 255, 255, 0.5);
}

.popular-manufacturers a:focus,
.popular-manufacturers a:hover {
  -webkit-box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.popular-manufacturers a:active {
  opacity: 0.3;
  -webkit-box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
  box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
}

.footer-nav1 a:focus,
.footer-nav2 a:focus,
.footer-nav1 a:hover,
.footer-nav2 a:hover {
  text-decoration: underline;
}

.footer-nav1 a:active {
  color: rgba(241, 245, 247, 0.5);
  text-decoration: none;
}

.footer-nav2 a:active {
  color: rgba(255, 209, 128, 0.5);
  text-decoration: none;
}

.social-network a:focus,
.social-network a:active {
  background-color: #ee3643;
}

.htmlacademy a:focus,
.mail a:focus,
.htmlacademy a:hover,
.mail a:hover {
  text-decoration: underline;
}

.htmlacademy a:active,
.mail a:active {
  color: #ee3643;
  text-decoration: none;
}

.user {
  color: #000000;
  font-size: 21px;
}

.header-items a {
  font-size: 16px;
  color: #32425c;
  text-decoration: underline;
}

.page-title {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  color: #32425c;
  background-color: #f2f6f8;
  font-weight: normal;
  padding: 27px 0 27px 28px;
  margin-top: 22px;
  margin-bottom: 20px;
}

.filters legend {
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 1px;
}

.filters fieldset {
  border: none;
  border-bottom: 2px solid #f7f3ec;
}

.filters span {
  font-size: 17px;
  background-color: #f7f3ec;
}

.filters label {
  font-size: 15px;
}

.filters button {
  font: inherit;
  background-color: transparent;
  border: 1px solid #e5e5e5;
  padding: 11px 39px 10px
}

.sorting a:nth-of-type(-n+3) {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #ee3643;
}

.sorting a:nth-of-type(-n+3):focus,
.sorting a:nth-of-type(-n+3):hover {
  color: #000000;
  border-bottom: 1px solid #ee3643;
}

.sorting a:nth-of-type(-n+3):active {
  color: #ee3643;
  border-bottom: 1px solid #f7f3ec;
}

.catalog-item-price,
.catalog-item-price-stock {
  font-size: 17px;
}

.catalog-item-price {
  color: #ffffff;
}

.catalog-item-image .button {
  font-size: 14px;
  color: #ffffff;
  background-color: #63a63e;
}

.catalog-item-image a:last-of-type {
  font-size: 14px;
  color: #32425c;
}

.pagination-item1 a {
  color: #ffffff;
  background-color: #ee3643;
}

.about-perforator h2 {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  margin-top: 0;
  font-weight: normal;
}

.filter {
  background-color: #f7f3ec;
  font: inherit;
  margin-top: 0;
  height: 38px;
  padding-left: 18px;
  padding-top: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 15px;
}

.sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 38px;
  background-color: #f7f3ec;
  padding: 0 17px 0 19px;
  margin-bottom: 20px;
}

.sorting h2 {
  display: inline;
  font: inherit;
}

.about-perforator {
  background-color: #f4f7f9;
  padding: 63px 0 68px 0;
}

.about-perforator p {
  margin: 0;
  line-height: 1.85;
}


.catalog-item-price-stock {
  text-decoration: line-through
}

.pagination,
.breadcrumbs {
  list-style: none;
  margin: 0;
  padding: 0;
}

.breadcrumbs a {
  color: #000000;
}

.center-wrapper {
  margin: 0 auto;
  width: 940px;
  position: relative;
}

.header-top-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 42px;
}

.header-buttom-flex:nth-of-type(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-left: 53px;
  margin-bottom: 40px;
}

.header-top-flex .col {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.catalog-item p {
  margin: 0;
}

header-buttom-flex .col {
  width: 270px;
}

.output {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 280px;
}

.main {
  padding: 60px 0 87px 0;
}

.about-us-contacts-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 75px;
}

.about-us-contacts-flex h2 {
  margin-top: 0;
}

.footer-top-flex1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 33px;
}

.footer-top-flex2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer-buttom-lex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-buttom p:nth-of-type(1) {
  width: 235px;
}

.social-network {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 133px;
  margin-left: auto;
  margin-top: -2px;
}

.social-network a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 42px;
  height: 42px;
  border-radius: 25px;
  background-color: #212a3a;
}

.mail {
  width: 135px;
  margin: 0 53px 0 119px;
}

.htmlacademy {
  width: 95px;
  margin-right: 16px;
}

.footer-nav1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 5px;
  padding-left: 3px;
  width: 550px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.footer-nav2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 525px;
}

.breadcrumbs-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.breadcrumbs-flex li:nth-of-type(1) {
  padding-top: 3px;
}

.breadcrumbs-flex li:nth-of-type(2) {
  position: relative;
  padding-left: 40px;
}

.breadcrumbs-flex li:nth-of-type(2)::before {
  content: " ";
  position: absolute;
  top: 5px;
  left: 12px;
  width: 8px;
  height: 12px;
  background: url(../img/icon-right-small.svg)
}

.breadcrumbs-flex li:nth-of-type(3) {
  position: relative;
  padding-left: 41px;
}

.breadcrumbs-flex li:nth-of-type(3)::before {
  content: " ";
  position: absolute;
  top: 5px;
  left: 15px;
  width: 8px;
  height: 12px;
  background: url(../img/icon-right-small.svg)
}

.breadcrumbs-flex li:nth-of-type(4) {
  position: relative;
  padding-left: 38px;
}

.breadcrumbs-flex li:nth-of-type(4)::before {
  content: " ";
  position: absolute;
  top: 5px;
  left: 15px;
  width: 8px;
  height: 12px;
  background: url(../img/icon-right-small.svg)
}

.catalog-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 60px;
}

.filters {
  width: 220px;
}

.catalog-flex .col {
  width: 700px;
}

.buy-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  height: 409px;
}

.buy-flex li:not(:last-child) {
  width: 300px;
  height: 123px;
}

.buy-flex li:last-child {
  width: 620px;
  min-height: 266px;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.advantages li {
  width: 300px;
  height: 123px;
}

.advantages li:first-of-type {
  margin-bottom: 20px;
}

.advantages h3 {
  margin: 0;
}

.advantages {
  position: absolute;
  top: 143px;
  right: 0;
}

.buy {
  margin-bottom: 53px;
}

.popular-manufacturers h2,
.popular-goods h2 {
  min-height: 89px;
}

.popular-goods-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.popular-manufacturers-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 85px;
  min-height: 310px;
}

.services-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search {
  margin: 0;
}

.logo {
  display: inline-block;
  vertical-align: baseline;
  padding-top: 11px;
  padding-left: 55px;
  padding-right: 56px;
  -webkit-box-shadow: 0px 5px #b52933;
  box-shadow: 0px 5px #b52933;
}

.footer .logo {
  padding-top: 20px;
  padding-left: 41px;
  padding-right: 41px;
  padding-bottom: 16px;
}

.col2 a {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  width: 150px;
  padding-top: 10px;
  padding-bottom: 12px;
}

.bookmarks a {
  padding-left: 45px;
  position: relative;
}

.bookmarks a::before {
  content: " ";
  background: url(../img/icon-bookmark.svg);
  position: absolute;
  left: 18px;
  top: 12px;
  width: 14px;
  height: 16px;
}

.bookmarks a:hover::before {
  content: " ";
  background: url(../img/icon-bookmark-hover.svg);
  position: absolute;
  left: 18px;
  top: 12px;
  width: 14px;
  height: 16px;
}

.bookmarks a:active::before {
  content: " ";
  background: url(../img/icon-bookmark.svg);
  position: absolute;
  left: 18px;
  top: 12px;
  width: 14px;
  height: 16px;
}

.basket a {
  padding-left: 50px;
  position: relative;
}

.basket a::before {
  content: " ";
  background: url(../img/cart-icon.svg);
  position: absolute;
  left: 18px;
  top: 12px;
  width: 15px;
  height: 15px;
  opacity: 0.3;
}

.basket a:hover::before {
  content: " ";
  background: url(../img/cart-icon-hover.svg);
  position: absolute;
  left: 18px;
  top: 12px;
  width: 15px;
  height: 15px;
}

.basket a:active::before {
  content: " ";
  background: url(../img/cart-icon.svg);
  position: absolute;
  left: 18px;
  top: 12px;
  width: 15px;
  height: 15px;
  opacity: 0.3;
}

.redefinition-basket a {
  background-color: #ee3643;
}

.header-buttom-flex .col {
  width: 270px;
}

.header .number::before {
  content: " ";
  background: url(../img/icon-phone.svg);
  position: absolute;
  left: 15px;
  top: 12px;
  width: 19px;
  height: 19px;
}

.output-item1 a {
  position: relative;
  width: 76px;
  padding: 12px 0 9px 45px;
}

.output-item1 a::before {
  content: " ";
  background: url(../img/icon-login.svg);
  position: absolute;
  left: 13px;
  top: 14px;
  width: 20px;
  height: 17px;
}

.output-item1 a:hover::before {
  content: " ";
  background: url(../img/icon-login-hover.svg);
  position: absolute;
  left: 13px;
  top: 14px;
  width: 20px;
  height: 17px;
}

.output-item2 a {
  position: relative;
  width: 150px;
  padding: 12px 0 9px 0;
}

.nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}


.nav-items a {
  display: block;
  height: 60px;
  padding: 20px 31px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.last-item a {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 40px;
  padding: 20px 49px 0 31px;
}

.first-item a {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 40px;
  padding: 20px 31px 0 52px;
}

.search input::-webkit-input-placeholder {
  font-family: "Cuprum", Arial, sans-serif;
  color: #ffffff;
  font-size: 17px;
}

.search input:-ms-input-placeholder {
  font-family: "Cuprum", Arial, sans-serif;
  color: #ffffff;
  font-size: 17px;
}

.search input::-ms-input-placeholder {
  font-family: "Cuprum", Arial, sans-serif;
  color: #ffffff;
  font-size: 17px;
}

.search input::placeholder {
  font-family: "Cuprum", Arial, sans-serif;
  color: #ffffff;
  font-size: 17px;
}

.search input:focus {
  background: url(../img/icon-search-focus.svg) 16px 12px no-repeat;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  background-color: #ffffff;
  color: #000000;
}

.about-us-contacts-flex a {
  background-color: #ee3643;
  border-radius: 4px;
}

.about-us {
  width: 588px;
}

.contacts {
  width: 300px;
}

.about-us p:last-of-type {
  width: 420px;
  margin-bottom: 22px;
}

.about-us p:first-of-type {
  margin-bottom: 23px;
}

.about-us a {
  text-transform: uppercase;
  display: inline-block;
  vertical-align: baseline;
  padding: 12px 40px 10px 41px;
}

.about-us .items {
  margin-bottom: 36px;
  padding-left: 36px;
}

.about-us li:not(:last-child) {
  margin-bottom: 20px;
}

.about-us li {
  position: relative;
}

.about-us li::before {
  content: " ";
  position: absolute;
  top: 8px;
  left: -36px;
  width: 25px;
  height: 0;
  border-top: 2px solid red;
}

.contacts p {
  width: 200px;
  margin-bottom: 30px;
}

.contacts a {
  display: inline-block;
  vertical-align: baseline;
  margin-top: 37px;
  text-transform: uppercase;
  padding: 12px 60px 10px 63px;
}

.popup-map {
  position: absolute;
  left: 50%;
  top: 2350px;
  margin-left: -470px;
  -webkit-box-shadow: 0 0 17px -5px black;
  box-shadow: 0 0 17px -5px black;
  height: 446px;
}

.popup-map p {
  margin: 0;
}

.popup-map button {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 21px;
  height: 21px;
  background: url(../img/map-close.svg);
}

.popup-help > button {
  position: absolute;
  left: 590px;
  top: 15px;
  width: 21px;
  height: 21px;
  background: url(../img/map-close.svg);
}

.popup-help-wrapper2 {
  padding: 31px 80px 37px;
  background-color: #f4f4f4;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 112px;
}

.popup-help-wrapper2 .btn {
  padding: 11px 199px;
  font-size: 14px;
  background-color: #ee3643;
  color: #ffffff;
}

.popup-help form {
  width: 620px;
  position: absolute;
  height: 430px;
  -webkit-box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
  box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
}

.popup-help-wrapper1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 45px 80px 37px;
  border-top: 7px solid #ee3643;
  background-color: #ffffff;
  color: #000000;
  font-size: 18px;
  height: 318px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.popup-help-wrapper1 input {
  width: 100%;
  height: 38px;
  padding-left: 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 2px solid #d7dcde;
  border-radius: 3px;
  outline: none;
  margin-top: 8px;
}

.popup-help-wrapper1 input:hover {
  border: 2px solid #b5b5b5;
}

.popup-help-wrapper1 input:focus {
  border: 2px solid #ee3643;
}

.popup-help-wrapper1 label:not(:last-of-type) {
  width: 220px;
  margin-bottom: 20px;
}

.popup-help-wrapper1 textarea {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 460px;
  height: 114px;
  padding-left: 15px;
  padding-top: 10px;
  border: 2px solid #d7dcde;
  border-radius: 3px;
  outline: none;
  margin-top: 8px;
}

.popup-help-wrapper1 textarea:hover {
  border: 2px solid #b5b5b5;
}

.popup-help-wrapper1 textarea:focus {
  border: 2px solid #ee3643;
}

.popup-help-wrapper1 div {
  margin-bottom: 8px;
}

.popup-help {
  position: absolute;
  top: 2520px;
  left: 50%;
  margin-left: -310px;
  z-index: 1;
}

.user .header-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 18px;
}

.user li:last-child {
  position: relative;
  padding-left: 31px;
}

.user li:last-child::before {
  content: " ";
  position: absolute;
  top: 11px;
  left: 14px;
  width: 5px;
  height: 5px;
  border-radius: 5px;
  background-color: #32425c;
}

.user .user-wrapper {
  display: block;
  position: relative;
  background-color: #ffffff;
  padding: 10px 67px 10px 47px;
  margin: 0;
  margin-bottom: 4px;
}

.user .user-name {
  color: #000000;
}

.user-name::before {
  content: " ";
  position: absolute;
  top: 14px;
  left: 13px;
  width: 20px;
  height: 18px;
  background: url(../img/icon-user.svg)
}

.user-name:hover::before {
  content: " ";
  position: absolute;
  top: 14px;
  left: 13px;
  width: 20px;
  height: 18px;
  background: url(../img/icon-user-hover.svg)
}

.user-name:active::before {
  content: " ";
  position: absolute;
  top: 14px;
  left: 13px;
  width: 20px;
  height: 18px;
  background: url(../img/icon-user.svg)
}

.user-wrapper .next {
  position: absolute;
  top: 14px;
  right: 13px;
  width: 20px;
  height: 18px;
  background: url(../img/icon-logout.svg)
}

.user-wrapper .next:hover {
  content: " ";
  position: absolute;
  top: 14px;
  right: 13px;
  width: 20px;
  height: 18px;
  background: url(../img/icon-logout-hover.svg)
}

.user-wrapper .next:active {
  content: " ";
  position: absolute;
  top: 14px;
  right: 13px;
  width: 20px;
  height: 18px;
  background: url(../img/icon-logout.svg)
}

.catalog-col {
  margin-right: -18px;
}

.header-items a:hover {
  color: #ee3643;
}

.user-name:active {
  color: rgba(0, 0, 0, 0.3);
}

.header-items a:active {
  color: rgba(0, 0, 0, 0.3);
}

.social-network a:focus,
.social-network a:hover {
  background: #ee3643;
}

.social-network a:active {
  background: #ee3643;
}

.fieldset label {
  display: block;
  position: relative;
  margin-bottom: 23px;
  padding-left: 33px;
}

.fieldset input {
  display: none;
}

.fieldset-checkbox span {
  position: absolute;
  top: -2px;
  left: 0;
  width: 23px;
  height: 23px;
  background: url(../img/checkbox-off.svg)
}

.input-checkbox:checked + span {
  position: absolute;
  width: 27px;
  background: url(../img/checkbox-on.svg)
}

.input-radio + span {
  position: absolute;
  top: -3px;
  left: 0;
  width: 25px;
  height: 25px;
  background: url(../img/radio-off.svg)
}

.input-radio:checked + span {
  background: url(../img/radio-on.svg)
}

.fieldset-checkbox {
  margin-bottom: 23px;
}

.fieldset {
  margin-left: 0;
  padding: 0;
}

.fieldset-radio {
  margin-bottom: 56px;
}

.popup-checkout {
  display: none;
  position: absolute;
  top: 411px;
  left: 450px;
  width: 620px;
  height: 282px;
  background-color: #f1f1f1;
  -webkit-box-shadow: 0px 20px 40px 0 rgba(41, 52, 73, 0.75);
  box-shadow: 0px 20px 40px 0 rgba(41, 52, 73, 0.75);
}

.popup-checkout-wrapper1 {
  border-top: 7px solid #ee3643;
  padding: 60px 0 65px 179px;
  background-color: #ffffff;
  color: #000000;
}

.popup-checkout-wrapper1 span {
  font-size: 30px;
}

.popup-checkout-wrapper1 span::before {
  content: " ";
  position: absolute;
  top: 55px;
  left: 81px;
  width: 66px;
  height: 66px;
  background: url(../img/modal-check.svg)
}

.popup-checkout-wrapper2 {
  padding: 39px 0 0 80px
}

.popup-checkout-wrapper2 a {
  display: inline-block;
  vertical-align: baseline;
  color: inherit;
  font-size: 14px;
  background-color: #ee3643;
  padding: 11px 60px 11px 61px;
  border-radius: 4px;
}

.popup-checkout-wrapper2 button {
  font-family: "Cuprum", Arial, sans-serif;
  margin-left: 16px;
  padding: 12px 47px 10px 45px;
  font-size: 14px;
  background-color: #ffffff;
  border: none;
  border-radius: 4px;
}

.popup-checkout > button {
  position: absolute;
  left: 590px;
  top: 15px;
  width: 21px;
  height: 21px;
  background: url(../img/map-close.svg);
  border: none;
}

.catalog-item-image-wrapper {
  position: absolute;
  width: 135px;
  left: 50%;
  margin-left: -67px;
  top: 44px;
  opacity: 0;
  z-index: 1;
}

.catalog-item-image-wrapper a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 38px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  border-radius: 3px;
}

.catalog-item-image-wrapper a:first-child {
  -webkit-box-shadow: inset 0px -3px 0 0 #367315;
  box-shadow: inset 0px -3px 0 0 #367315;
  margin-bottom: 8px;
}

.catalog-item-image-wrapper a:first-child:focus,
.catalog-item-image-wrapper a:first-child:hover {
  background-color: #5fbb2d;
}

.catalog-item-image-wrapper a:first-child:active {
  background-color: #518534;
  border: none;
}

.catalog-item-image-wrapper a:last-child {
  background-color: #ffffff;
  border: solid 3px #63a63e;
  color: #32425c;
}

.catalog-item-image-wrapper a:last-child:focus,
.catalog-item-image-wrapper a:last-child:hover {
  border: solid 3px #32425c;
}

.catalog-item-image-wrapper a:last-child:active {
  color: rgba(50, 66, 92, 0.3);
  border: solid 3px rgba(50, 66, 92, 0.3);
}

.redefinition .catalog-list {
  min-height: 1015px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

.catalog-item h3 {
  margin: 5px auto 8px;
  width: 165px;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  margin-bottom: 10px;
}

.catalog-item p:not(:first-of-type) {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
}

.catalog-item p:last-of-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 120px;
  height: 38px;
  margin-top: auto;
  margin-left: 43px;
  padding-left: 35px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.catalog-item p:last-of-type::after {
  content: " ";
  position: absolute;
  top: 1px;
  right: -38px;
  width: 0;
  height: 0;
  border: 19px solid #ffffff;
  border-left-color: #ee3643;
}

.buy span,
.catalog-item > span {
  position: absolute;
  top: -1px;
  right: -1px;
  width: 60px;
  height: 60px;
  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
  background: url(../img/new-flag.png) 0 0 no-repeat;
}

.catalog-item .catalog-item-image {
  height: 170px;
  margin-bottom: 5px;
}

.catalog-item:hover {
  -webkit-box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.catalog-item:hover .catalog-item-image-wrapper {
  opacity: 1;
}

.catalog-item:hover img {
  opacity: 0;
}

.advantages h3,
.buy h3 {
  margin-top: 0;
  margin-left: 22px;
  margin-bottom: 0;
}

.advantages li,
.buy li:not(:last-of-type) {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 22px;
}

.advantages a,
.buy a:not(.open-catalog) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 14px;
  width: 135px;
  height: 38px;
  background-color: rgba(0, 0, 0, 0.1);
}

.buy-advantages li {
  position: relative;
}

.buy-flex li:nth-of-type(1)::after {
  content: " ";
  position: absolute;
  top: 30px;
  right: 42px;
  width: 44px;
  height: 65px;
  background: url(../img/icon-1.svg);
}

.buy-flex li:nth-of-type(2)::after {
  content: " ";
  position: absolute;
  top: 33px;
  right: 28px;
  width: 75px;
  height: 61px;
  background: url(../img/icon-2.svg);
}

.buy-flex li:nth-of-type(3)::after {
  content: " ";
  position: absolute;
  top: 30px;
  right: 30px;
  width: 78px;
  height: 62px;
  background: url(../img/icon-3.svg);
}

.advantages li:nth-of-type(1)::after {
  content: " ";
  position: absolute;
  top: 26px;
  right: 44px;
  width: 59px;
  height: 72px;
  background: url(../img/icon-4.svg);
}

.advantages li:nth-of-type(2)::after {
  content: " ";
  position: absolute;
  top: 32px;
  right: 32px;
  width: 78px;
  height: 63px;
  background: url(../img/icon-5.svg);
}

.open-catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  bottom: 22px;
  left: 26px;
  width: 195px;
  height: 38px;
  border-radius: 3px;
}

.button-left {
  position: absolute;
  top: 114px;
  left: 25px;
  width: 22px;
  height: 40px;
  background: url(../img/icon-left.svg);
  z-index: 2;
  border: none;
}

.button-right {
  position: absolute;
  top: 114px;
  right: 20px;
  width: 22px;
  height: 40px;
  background: url(../img/icon-right.svg);
  z-index: 2;
  border: none;
}

.header-top p {
  margin: 0;
}

.header-buttom p {
  margin: 0;
}

.popular-manufacturers h2 {
  margin-top: 22px;
}

.popular-manufacturers-flex a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 220px;
  height: 145px;
  border: solid 1px #eaeaea;
  background-color: #ffffff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.popular-manufacturers {
  position: relative;
}

.popular-manufacturers > a:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 3px;
  right: 24px;
  top: 24px;
  background-color: #ee3643;
  position: absolute;
  width: 253px;
  height: 38px;
}

.services h2 {
  margin-top: 0;
  margin-bottom: 23px;
}

.services-p1 {
  width: 405px;
}

.services-flex .items {
  position: relative;
  margin-top: 55px;
}

.services-flex .items::after {
  content: " ";
  z-index: 1;
  position: absolute;
  right: 0;
  top: -40px;
  width: 10px;
  height: 279px;
  background: url(../img/shadow.png) no-repeat;
}

.services-flex button {
  padding-left: 22px;
}

.services-flex .col {
  padding-left: 80px;
}

.services-flex-col-p {
  width: 280px;
}

.breadcrumbs-flex li:not(:first-of-type) {
  padding-top: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sorting a:nth-last-of-type(2),
.sorting a:last-of-type {
  display: inline-block;
  vertical-align: baseline;
  width: 11px;
  height: 10px;
  background: url(../img/icon-up-dir.svg);
}

.sorting a:nth-last-of-type(2):focus,
.sorting a:last-of-type:focus,
.sorting a:nth-last-of-type(2):hover,
.sorting a:last-of-type:hover {
  background: url(../img/icon-up-dir-hover.svg);
}

.sorting a:nth-last-of-type(2):active,
.sorting a:last-of-type:active {
  background: url(../img/icon-up-dir-active.svg);
}

.sorting a:last-of-type {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.sorting a:first-of-type {
  margin-left: 140px;
}

.sorting a:nth-of-type(2) {
  margin-left: 70px;
}

.sorting a:nth-of-type(3) {
  margin-left: 65px;
}

.sorting a:nth-of-type(4) {
  margin-left: 63px;
}

.sorting a:nth-of-type(5) {
  margin-left: auto;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 285px;
}

.pagination a {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 38px;
  height: 38px;
  border: solid 1px #e5e5e5;
}

.pagination a:focus,
.pagination a:hover {
  border-color: #bdc6ca;
}

.pagination a:active {
  border-color: #ee3643;
  color: #000000;
}

.pagination-item4 a {
  width: 140px;
}

.filter-item {
  margin: 0;
  padding: 0;
  border: none;
  margin-bottom: 20px;
}

.range-filter {
  width: 220px;
  margin-top: 15px;
  padding-bottom: 25px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 10px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  -webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 20px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  vertical-align: baseline;
  width: 50%;
  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 95px;
  height: 38px;
  font-family: "PT Sans", Arial, sans-serif;
  padding: 0;
  font-size: 17px;
  text-align: center;
  color: #283136;
  border: none;
  background: #f1f1f1;
  padding-bottom: 5px;
  box-sizing: border-box;
}

.max-price {
  position: relative;
  text-align: right;
}

.max-price:before {
  content: " ";
  position: absolute;
  top: 50%;
  left: -5px;
  width: 10px;
  height: 1px;
  background-color: #000000;
}

.fieldset-radio legend,
.fieldset-checkbox legend {
  margin-bottom: 20px;
}

.services::after {
  content: " ";
  position: absolute;
  right: 50%;
  margin-right: -470px;
  top: 260px;
  width: 468px;
  height: 261px;
  background: url(../img/delivery.png)
}

.slider1 {
  position: absolute;
  width: 100%;
  height: 266px;
}

.slider2 {
  position: absolute;
  top: 0;
  width: 100%;
  height: 266px;
}

.modal-hide {
  display: none;
}

.popup-help [placeholder]::placeholder {
  font-size: 13px;
  font-family: "PT Sans", Arial, sans-serif;
}

.margin-top5 {
  margin-top: -5px;
}

.margin-top8 {
  margin-top: -8px;
}

.margin-top15 {
  margin-top: -15px;
}

.buy .margin-left25 {
  margin-left: 25px;
}

.buy-advantages .margin-left23 {
  margin-left: 23px;
}
